
.Bericht {  display: grid;
    grid-template-columns: 1fr 0.2fr 2fr 1fr;
    grid-template-rows: 1fr 0.2fr 1fr 1.8fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Image Image name Date"
      "Image Image name Date"
      "Message Message Message Message"
      "Message Message Message Message";
  }
  
  .Image { grid-area: Image; }
  
  .Date { grid-area: Date;
    font-size: 15px;
    font-weight: bold;
 }

  .Message { grid-area: Message; }

    body    {
    margin: 0;
    overflow-x: hidden;
}
.example::-webkit-scrollbar {
    display: none;
  }

.Button3 {
    margin-bottom: 2rem;
    width: 60px;
    height: 60px;
    background-color: #7ED957;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 500px; 
    overflow-x: auto; 
    border-radius: 20px;
    border-width: 5px;
    border-color: #7ED957 ;
    border-style: solid;
}

h2 {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 2%;   
}

.closeButton {
    position: relative;
    right: -95%;
    font-size: 24px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #7ED957;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.overlay-content h2 {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.overlay-content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    font-family: 'Open Sans', sans-serif;
}

.overlay-content label {
    font-weight: bold;
    margin-bottom: 5px; 
    font-family: 'Open Sans', sans-serif;
}

.overlay-content textarea {
    height: 100px;
    resize: vertical;
    margin-bottom: 20px;
    width: 100%; 
    font-family: 'Open Sans', sans-serif;
}

.overlay-content input[type="file"] {
    margin-bottom: 20px;
    width: 100%; 
    font-family: 'Open Sans', sans-serif;    
}


.overlay-content input[type="text"],
.overlay-content textarea{
    border: 1px solid #7ED957; 
    border-radius: 5px;
}

.NavBar{
    top: 0%;
    left: 0%;
    width: 7rem;
    height: 99%;
    border-radius: 5px;
    border-color: #7ED957;
    border-style: solid;
    border-width: 5px;
}

.Nav_image {

    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    z-index: 100;
}

.HomeBut1 {
    text-decoration: none;
    color: black;
    z-index: 100;
    position: absolute;
    top: -18px;
    left: 2px;
}

button[type="submit"] {
    background-color: #7ED957; 
    color: rgb(255, 255, 255);
    padding: 10px 20px; 
    border-width:  2px; 
    border-style: solid;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}
.deskContainer {
    display: flex;
}
.BerichtenBox {
    overflow-y: auto; 
    width: calc(100vw - 7rem); 
    height: 100vh;
    margin-left: 7rem; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: left; 
}

.Bericht {
    width: 400px;
    margin: 10px;
    height: 250px; 
    border-color: #7ED957;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
}

#nav-logo  {
    width: 5rem;
}

.side-nav {
    position: fixed; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    overflow-y: auto; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 7rem; 
    z-index: 100; 
}

.header-logo    {
    height: 10rem;
    margin: 0.5rem;
}

#BerichtImg {
    height: 90px;
    width: 90px;
    border-color: #7ED957;
    border-style: solid;
    border-width: 3px;
}

.Image {
    height: 90px;
    width: 90px;
}

.Message {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: #7ED957;
    border-width: 5px;
    border-style: solid;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.name {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 20px;
font-weight: bold;
}

span.date {
    font-size: 20px;
    font-weight: bold;
    justify-content: right;
    align-items: right;    
}

@media only screen and (max-width: 600px) {
.container {  display: grid;
    grid-template-columns: 1fr 0.1fr 1.9fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "image image name date"
      "image image name date"
      "message message message message"
      "message message message message";
  }
  
  .date { grid-area: date; 
    font-size: 10px;
    font-weight: bold;
    }
  
  .name { grid-area: name; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    }
  
  .image { grid-area: image; }
  
  .message { grid-area: message; }
  
  body    {
    margin: 0;
    overflow-x: hidden;
}

.Image {
    height: 90px;
    width: 90px;
}

span.date {
    font-size: 20px;
    font-weight: bold;
    justify-content: right;
    align-items: right;    
}

.header-logo    {
    height: 10rem;
    margin: 0.5rem;
}

#BerichtImg {
    height: 90px;
    width: 90px;
    border-color: #7ED957;
    border-style: solid;
    border-width: 3px;
}


.side-nav {
    position: fixed; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    overflow-y: auto; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 2rem; 
    z-index: 100; 
    }
.deskContainer {
    display: flex;
    }
.BerichtenBox {
    overflow-y: auto; 
    width: calc(100vw - 7rem); 
    height: 100vh;
    margin-left: 7rem; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: left; 
}

.Bericht {
    width: 400px;
    margin: 10px;
    height: 250px; 
    border-color: #7ED957;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
}

#nav-logo  {
    width: 2rem;
}

}

.Button3 {
    margin-bottom: 2rem;
    width: 30px;
    height: 30px;
    background-color: #7ED957;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}