.Bericht {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Image Message Message Message"
      "Image Message Message Message"
      "Name Message Message Message"
      "Date Message Message Message";
    width: 400px;
    margin: 10px;
    height: 250px; 
    border-color: #ffdd00;
    border-style: solid;
    border-radius: 0 0 30px 0; /* Only the right bottom corner is rounded */
    border-width: 5px;
    background-color: #23588924;
}
  
.Image { grid-area: Image; 
    border-style: solid;
    border-width: 5px;
    border-right: 5px solid #ffdd00;
    border-top: none;
    border-bottom: 5px solid #ffdd00;
    border-left: none;
    padding: 10px
}
  
.Date { grid-area: Date; 
    padding: 10px
}

.Message { grid-area: Message; 
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    max-width: 370px;
    word-wrap: break-word;
    margin-top: -2%;
    padding: 10px;
}

.example::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: white ;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}
.Button3 {
    margin-bottom: 2rem;
    width: 60px;
    height: 60px;
    background-color: #235789;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.overlay-content {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 500px; 
    overflow-x: auto; 
    border-radius: 20px;
    border-width: 5px;
    border-color: #235789 ;
    border-style: solid;
    z-index: 100;
}

h2 {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 2%;   
}

.closeButton {
    position: relative;
    right: -95%;
    font-size: 24px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #235789;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.overlay-content h2 {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    z-index: 100;
}

.overlay-content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    font-family: 'Open Sans', sans-serif;
    z-index: 100;
}

.overlay-content label {
    font-weight: bold;
    margin-bottom: 5px; 
    font-family: 'Open Sans', sans-serif;
    z-index: 100;
}

.overlay-content textarea {
    height: 100px;
    resize: vertical;
    margin-bottom: 20px;
    width: 100%; 
    font-family: 'Open Sans', sans-serif;
    z-index: 100;
}

.overlay-content input[type="file"] {
    margin-bottom: 20px;
    width: 100%; 
    font-family: 'Open Sans', sans-serif;    
    z-index: 100;
}

.overlay-content input[type="text"],
.overlay-content textarea{
    border: 1px solid #235789; 
    border-radius: 5px;
    z-index: 100;
}

.NavBar{
    top: 0%;
    left: 0%;
    width: 7rem;
    height: 99%;
    border-radius: 5px;
    border-color: #235789;
    border-style: solid;
    border-width: 5px;
}

.Nav_image {

    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    z-index: 100;
}

.HomeBut1 {
    text-decoration: none;
    color: black;
    z-index: 100;
    position: absolute;
    top: -18px;
    left: 2px;
}

button[type="submit"] {
    background-color: #235789; 
    color: rgb(255, 255, 255);
    padding: 10px 20px; 
    border-width:  2px; 
    border-style: solid;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

.deskContainer {
    display: flex;
}

.BerichtenBox {
    overflow-y: auto; 
    width: calc(100vw - 7rem); 
    margin-left: 7rem; 
    display: flex;
    flex-wrap: wrap;
    align-items: left; 
}

#nav-logo  {
    width: 5rem;
}

.side-nav {
    position: fixed; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    overflow-y: auto; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 7rem; 
    z-index: 100; 
}

.header-logo    {
    height: 10rem;
    margin: 0.5rem;
}

#BerichtImg {
    max-width: 110px; /* Set maximum width */
    max-height: 110px; /* Set maximum height */
    width: auto; /* Allow width to adjust automatically */
    height: auto; /* Allow height to adjust automatically */
}

.Image {
    max-width: 110px; /* Set maximum width */
    max-height: 110px; /* Set maximum height */
    width: auto; /* Allow width to adjust automatically */
    height: auto; /* Allow height to adjust automatically */
} 

.name {

font-size: 20px;
padding: 5px;
font-weight: bold;
border-right: 5px solid #ffdd00;
border-left: none;
border-top: none;
border-bottom: none;
}

.date {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    border-right: 5px solid #ffdd00;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.plusIcon {
    font-size: 50px;
}

@media only screen and (max-width: 600px) {
    .Bericht {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Image Message Message Message"
          "Image Message Message Message"
          "Name Message Message Message"
          "Date Message Message Message";
        border-radius: 0 0 30px 0; /* Only the right bottom corner is rounded */
        width: 400px;
        height: 250px; 
        border-color: #ffdd00;
        background-color: #23588924;
    }
    
.date {
    font-size: 10px;
    font-weight: bold;
    }
  
.name {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px
}
  
.image { grid-area: image; }
  
.Message {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 370px;
    word-wrap: break-word;  
}
  
body {
    margin: 0;
    overflow-x: hidden;
}

.plusIcon {
    font-size: 30px;
}

.Image {
    border-style: solid;
    border-width: 5px;
    border-right: 5px solid #ffdd00;
    border-top: none;
    border-bottom: 5px solid #ffdd00;
    border-left: none;
    padding: 10px
}

.date {
    font-size: 18px;
    font-weight: bold;
    justify-content: right;
    align-items: right;    
}

.header-logo {
    height: 10rem;
    margin: 0.5rem;
}

#BerichtImg {
    height: 92px;
    width: 92px;  
}

.side-nav {
    position: fixed; 
    top: 0; 
    left: 0%; 
    bottom: 0; 
    overflow-y: auto; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 2rem; 
    z-index: 100; 
}

.deskContainer {
    display: flex;
    }

.BerichtenBox {
    overflow-y: auto; 
    width: calc(100% - 0rem); 
    height: 100vh;
    margin-left: 1rem; 
    margin-right: 1rem;
    display: flex;
    gap: 1rem;
    margin-top: 20%;
    flex-wrap: wrap; 
    align-items: left; 
    position: relative; /* Set position relative to allow z-index to work */
    z-index: 1; /* Ensure that the z-index is lower than the fixed elements */

}
    
.Bericht {
    width: 400px;
    margin: 0px;
    height: 250px; 
    border-color: #ffdd00;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    position: relative;
    z-index: -1;
}

#nav-logo {
    width: 3rem;
    position: fixed;
    top: 1%;
    left: 1%;
    z-index: 1001; /* Set a higher z-index to ensure it's above other elements */
}


.Button3 {
    width: 50px;
    height: 50px;
    background-color: #235789;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001; /* Set a higher z-index to ensure it's above other elements */
    position: fixed;
    top: 1%;
    left: 83%;
}

h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 2%;   
}
}